*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    padding: 20px;
    display: flex;
justify-content: space-evenly;
}

.app__left{
    flex: 0.9;
}
.app__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.app__stats{
    display: flex;
    justify-content: space-between;
}

@media (max-width:990px) {
    .app{
        flex-direction: column;
    }
}